body {
	font: 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    top: 15%;
	background: linear-gradient(to right, red , green, blue); /* Standard syntax */;
    height: 100vh;
}

.container {
    padding-top: 15vh;
}

h1 {
    font: 600 3.5em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    width: 100%;
    margin-bottom: 1em;
}

.user-inputs {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.user-inputs input {
    margin: 0 20px;
}

.btn-light {
    font: 500 1.5em 'Raleway', sans-serif;
    padding: 0.5em 1em;
}

h3 {
	font: 900 1em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;

}


